*{
    margin: 0%;
    padding: 0%;

}
.main-container{
    width: 100%;
    background-color: black;
}
.body-container{
    display: flex;
    padding-top: 55px;
}
.left-section{
    background-color: brown;
    width: 50%;
    height: 311px;
    color: rgb(150, 101, 37);
}
.right-section{
    background-color: rgb(206, 112, 112);
    width: 50%;
    height: 311px;
    color: rgb(150, 101, 37);
}
.footer{
    width: 100%;
    height: 111px;
    background-color: aliceblue;
}